<script type="text/javascript">
  $(function () {
    $.get('/tasks.json', function (data) {
      var tasks = JSON.parse(data);
      $('#tasks tbody').html(
        $('#taskTemplate').render(tasks)
      );
    });
  });
</script>

<script id="taskTemplate" type="text/x-jsrender">
  <tr onclick='openTask("{{:id}}");' class='taskRow'>
    <td>{{:id}}</td>
    <td>{{:fields.Status}}</td>
    <td>{{:fields.Title}}</td>
    <td>{{:fields['Assigned To']}}</td>
    <td><a href="javascript:" onclick='openTask("{{:id}}");'>Edit</a></td>
  </tr>
</script>

<div id="tasksContainer">
  <table id="tasks" cellpadding="0" cellspacing="0">
    <thead>
      <th>ID</th>
      <th>Status</th>
      <th>Title</th>
      <th>Assigned To</th>
      <th>Actions</th>
    </thead>
    <tbody>

    </tbody>
  </table>

  <div id="tasksActions">
    <a href="/tasks/new">New Task</a>
  </div>
</div>