<html>
<head>
  <title>nit: <%= title %></title>
  <script type="text/javascript" src="/jquery-1.7.2.js"></script>
  <script type="text/javascript" src="/jsrender.js"></script>
  <script type="text/javascript" src="/nit.js"></script>
  <link type="text/css" rel="stylesheet" href="/nit.css"/>
</head>
<body>
  <a href="/">Home</a>

  <%- body %>
</body>
</html>
