<html>
<head>
  <title>nit: <%= title %></title>
  <script type="text/javascript" src="/jquery-1.7.2.js"></script>
  <script type="text/javascript" src="/jsrender.js"></script>
  <script type="text/javascript" src="/nit.js"></script>
  <link type="text/css" rel="stylesheet" href="/nit.css"/>
</head>
<body>
  <a href="http://github.com/nearinfinity/node-nit">
    <img alt="Fork me on GitHub" id="ribbon" src="https://a248.e.akamai.net/assets.github.com/img/30f550e0d38ceb6ef5b81500c64d970b7fb0f028/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67">
  </a>

  <div id="header">
    <a href="/">
      <img alt="nit logo" id="logo" src="/logo.png" border="0">
    </a>
  </div>

  <div id="content">
    <%- body %>
  </div>
</body>
</html>
