<form method="POST">

  <% for(var fieldIdx=0; fieldIdx<taskMetadata.length; fieldIdx++) {
      var metadata = taskMetadata[fieldIdx];
  %>
    <div class="formField">
      <div class="formFieldTitle"><%= metadata.name %>:</div>
      <div class="formFieldValue"><%- getFormHtml(metadata) %></div>
    </div>
  <% } %>

  <div class="formActions">
    <input type="submit" value="Save"/>
  </div>
</form>
